
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    transition: background-color 0.3s ease-in-out;
    
}

.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 20px;
   
}

.navbar a {
    text-decoration: none;
    color: #fff;
}


.content {
    padding: 80px 0;
}

section {
    margin: 50px;
    padding: 20px;
    background-color: rgb(90, 233, 255);
    border: 1px solid #ddd;
    border-radius: 5px;
}


.navbar.scroll {
    background-color: #000;
}

h2{
    text-align: center;
}

body{
    background-image: url(8bit.jpg);
    background-size: cover;
    background-size: repeat;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}